<Menu xmlns:core="/core/" xmlns:m="/chrome/">
    <Template>
       <core:StackLayout>
           <core:Frame width="50">
               <core:Image texture="(env res.white)" color="#0000ff55" />
               <core:Label  OnClick="#(emit :menu 'file')"  width="50" height="26" margin="0,0,0,0" fontSize="20" text="文件" />
               <core:Frame  width="200" height="200" margin="0,23,0,0">
                   <core:Sprite spriteName="frame" sheet="(env res.sheet)" type="Sliced(1,1,1,1)" />
                   <core:StackLayout spacing="10" padding="0,10,0,0" orientation="Vertical">
                       <core:Label  fontSize="18" width="90" hor="Start" height="26" text="新建数据库" />
                       <core:Label  fontSize="18"  width="90" hor="Start" height="26" text="打开数据库" />
                       <core:Label  fontSize="18" width="90" hor="Start" height="26" text="保存数据库" />
                   </core:StackLayout>
               </core:Frame>
           </core:Frame>
       </core:StackLayout>
    </Template>
</Menu>