<Menu xmlns:core="/core/" xmlns:m="/chrome/">
    <Template>
       <core:StackLayout>
           <Slot.Children />
       </core:StackLayout>
    </Template>
    <ItemTemplate>
        <core:Frame width="50">
            <core:Image texture="(env res.white)" >
                <Param.color>
                    (attr-bind :isSelect #(if % color.blue color.transparent))
                </Param.color>
            </core:Image>
            <core:Label  OnClick="#(emit :click-menu (ctx-data data.index))"  width="50" height="26" margin="0,0,0,0" fontSize="20" text="(ctx-data data.text)" >
                <Param.color>
                    (attr-bind :isSelect #(if % color.white color.black))
                </Param.color>
            </core:Label>
        </core:Frame>
    </ItemTemplate>
</Menu>